.Setting-Container {
  height: 600px;
  padding: 20px;
}

.Setting-Header {
  display: flex;
  justify-content: space-between;
}

.Setting-Label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.Setting-Label svg {
  width: 36px;
  height: 36px;
  margin: 0 4px 0 0;
}

.Setting-Label svg path {
  fill: #F58300;
}

.Setting-Label h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

.Setting-Content {
  margin: 40px 12px 0;
}

.Setting-Item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  color: #111214;
}

.Setting-Item span {
  display: inline-flex;
}

.Setting-Item span:first-child {
  color: #9095A3;
}

.Setting-Network:hover {
  cursor: pointer;
  transition: 0.25s;
}

.Setting-Network:hover svg:last-child path {
  fill: #F58300;
}

.Setting-Network-Switcher {
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.Setting-Network-Switcher span {
  margin: 0 4px;
}
