.ui.modal.Settings-Modal-Container {
  border-radius: 20px;
  width: 440px;
}

@media screen and (min-width: 1920px){
  .ui.tiny.modal.Settings-Modal-Container {
    width: 440px;
  }
}

.ui.modal.Settings-Modal-Container .content {
  height: 640px;
  border-radius: 20px;
  padding: 0;
}
