@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,semibold&subset=latin,latin-ext');

:root {
  --c-n00: #FFFFFF;
  --c-n50: #9095A3;
  --c-n60: #656D85;
  --c-n80: #111214;
  --c-ntd20: rgba(0, 0, 0, 0.2);
  --c-ntd40: rgba(0, 0, 0, 0.4);
  --c-pri50: #F58300;
  --c-pri60: #FF6C0A;
  --c-g60: #21A35D;
  --c-b60: #1F69FF;
  --c-ntl80: rgba(255, 255, 255, 0.8);
  --c-ntd04: rgba(0, 0, 0, 0.04);

  --sk-color-pri50: #F58300 !important;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
span,
div,
button,
a {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  background: #f0f3fa;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Override semantic ui Modal default styles */
.ui.modals.page {
  background-color: rgba(0, 0, 0, 0.4);
}

.ui.modal {
  box-shadow: none;
}

/* Global styles */
button:hover {
  transition: 0.25s;
}

p,
span {
  line-height: 20px;
}
