.Refresh-container {
  width: 28px;
  height: 28px;
  background: #FFFFFF;
  border: 1px solid #E1E6F0;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Refresh-container:hover {
  cursor: pointer;
  transition: 0.25s;
}

.Refresh-container svg {
  width: 15px;
  height: 15px;
}

.Refresh-container:hover svg path {
  fill: #F58300;
}

.Refresh-icon-rotate {
  animation: iconRotate 1s infinite;
  animation-timing-function: linear;
}

@keyframes iconRotate {
  0% {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
