.Menu-container {
  position: relative;
}

.Menu-button{
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #E1E6F0;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Menu-button:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.Menu-button img {
  width: 18px;
  height: 18px;
}

.Menu-items-container {
  position: absolute;
  left: 0;
  width: 188px;
  margin-top: 4px;
  background: #FFFFFF;
  border: 1px solid #E1E6F0;
  border-radius: 16px;
  padding: 8px;
}

.Menu-item, .Menu-item a {
  width: 172px;
  height: 36px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin: 4px 0;
}

.Menu-item:first-child {
  margin-top: 0;
}

.Menu-item:last-child {
  margin-bottom: 0;
}

.Menu-item:hover {
  background: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.Menu-item img {
  margin: 6px 8px;
}

.Menu-item span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #111214;
}

.highlight span {
  color: #FF6C0A;
}

.Menu-divider {
  width: 148px;
  height: 0;
  border: 1px solid #F0F3FA;
  margin: 4px 0;
}
