.Close-container {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Close-container:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.04);
  transition: 0.25s;
}

.Close-container-disabled {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Close-container-disabled:hover {
  cursor: no-drop;
  transition: 0.25s;
}

.small {
  width: 18px;
  height: 18px;
  border-radius: 6px;
}

.small:hover {
  background: rgba(0, 0, 0, 0.1);
}
