.Connect-flask-icon {
  margin-top: 40px;
}

.Connect-Modal-Content h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #111214;
  margin-bottom: 16px;
}

.Connect-install {
  line-height: 20px;
  color: #656D85;
  margin-bottom: 16px;
}

.Connect-flask {
  color: #F58300;
  margin-bottom: 64px;
}

.Connect-button {
  width: 100%;
  height: 48px;
  background: #111214;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #FFFFFF;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.Connect-button:hover {
  background-color: #F58300;
  cursor: pointer;
  color: #FFFFFF;
}

.Connect-button:disabled {
  background-color: #E1E6F0;
}

.Connect-snap-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #FF6C0A;
  margin: 16px 0 64px;
}

.Connect-snap-link:hover {
  color: #F58300;
}
