.Connect-MM-icon {
  margin-top: 36px;
}

.Connect-Modal-Content h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #111214;
  margin-bottom: 16px;
}

.Connect-install {
  line-height: 20px;
  color: #656D85;
  margin-bottom: 16px;
}

.Connect-button:not(:hover) {
  background: #111214;
  transition: 0.25s;
}

.Connect-button:disabled {
  background-color: #E1E6F0;
}

.Connect-snap-link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #FF6C0A;
  margin-bottom: 64px;
}
.Connect-snap-link span {
  position: absolute;
  right: -18px;
  display: inline-block;
  height: 18px;
  top: 2px;
}

.Connect-snap-link:hover {
  color: #F58300;
  transition: 0.25s;
}

.Connect-snap-link:hover span {
  right: -24px;
  transition: 0.25s;
}

.Connect-snap-link:not(:hover) span {
  right: -18px;
  transition: 0.25s;
}

.content {
  position: relative;
}


.Connect-Modal-Container .Close-container {
  position: absolute;
  top: 0;
  right: 20px;
}

.Connect-Modal-Container .Close-container-disabled {
  position: absolute;
  top: 0;
  right: 20px;
}

.msg {
  margin: 8px 0 16px;
}

.desc {
  padding-bottom: 24px;
}
