.ui.mini.modal.Connect-Modal-Container {
  border-radius: 20px;
}

@media screen and (min-width: 1920px){
  .ui.mini.modal.Connect-Modal-Container {
    width: 360px;
  }
}

.ui.mini.modal.Connect-Modal-Container > div {
  min-height: 514px;
  background: radial-gradient(50% 50% at 0% 0%, rgba(255, 182, 10, 0.12) 0%, rgba(255, 182, 10, 0) 100%), radial-gradient(50% 50% at 100% 0%, rgba(255, 108, 10, 0.14) 0%, rgba(255, 108, 10, 0) 100%);
  border-radius: 20px;
  padding: 40px;
}

.Connect-Modal-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.fade-up {
  animation: fadeInUp 0.25s ease-in-out;
}
.fade-left {
  animation: fadeInLeft 0.25s ease-in-out;
}
.fade-out-left {
  animation: fadeOutToLeft 0.25s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px)
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeOutToLeft {
  0% {
    opacity: 1;
    transform: none
  }
  100% {
    opacity: 0;
    transform: translateX(-100px)
  }
}
