.Account-Background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F0F3FA;
}

.Account-Container {
  width: 960px;
  height: 640px;
  background: #FFFFFF;
  border: 1px solid #E1E6F0;
  border-radius: 20px;
  display: flex;
}

.Account-Powered-By {
  position: absolute;
  bottom: calc(50% - 640px / 2 - 12px - 48px);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9095A3;
}

.Account-Main {
  width: 560px;
}

.Account-Aside {
  width: 400px;
  height: 100%;
  background: linear-gradient(222.5deg, rgba(250, 251, 255, 0.8) 47.82%, rgba(245, 247, 252, 0) 100%);
  border-radius: 0 20px 20px 0;
}

.Account-Main-Container {
  margin: 40px
}

.Account-Aside-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-end;
  margin: 40px 24px;
}

.Account-Aside-Refresh {
  margin-right: 16px;
}

.Logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Logo-img {
  height: 40px;
}

.Logo-label {
  display: inline-block;
  width: 50px;
  height: 23px;
  margin-left: 8px;
  line-height: 23px;
  text-align: center;
  background: rgba(255, 108, 10, 0.2);
  border-radius: 8px;
  color: #FF6C0A;
  cursor: default;
}

.Balance-container {
  margin: 56px 0 76px;
}

.Balance-label {
  text-transform: uppercase;
  color: #9095A3;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.Balance {
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #111214;
}

.Action-container {
  display: inline-block;
  margin-right: 48px;
}

.Action-container p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #656D85;
  margin-top: 12px;
  text-transform: uppercase;
}

.Action-button-container {
  width: 96px;
  height: 96px;
  border: 1px solid #E1E6F0;
  border-radius: 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Action-button-container:hover {
  border-color: #F58300;
  cursor: pointer;
}

.Action-container img {
  width: 25px;
  height: 25px;
}

.Tx-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Tx-list-container::-webkit-scrollbar {
  display: none;
}

.Tx-list-content {
  width: 100%;
  height: 400px;
}

.Tx-list-empty {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Empty-tip {
  margin-top: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #9095A3;
}
