.Tx-container {
  height: 80px;
  width: 100%;
  padding: 0 16px;
}

.Tx-container:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.Tx-container a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Tx-detail-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.Tx-detail-img-container {
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #E1E6F0;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Tx-detail-img-container img {
  width: 24px;
  height: 24px;
}

.Tx-detail-img-container .pending {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -5px;
  right: -5px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}

.Tx-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.Tx-content-container span {
  display: inline-block;
  text-transform: capitalize;
}

.Tx-main, .Tx-secondary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
}

.Tx-secondary .Tx-address span:first-child {
  display: inline-block;
  margin-right: 4px;
}

.Tx-main span {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #111214;
}

.Tx-main span:last-child {
  font-weight: 600;
}

.Tx-main .highlight {
  color: #FF6C0A;
}

.Tx-secondary span {
  font-size: 14px;
  line-height: 20px;
  color: #9095A3;
}

.Tx-secondary .highlight {
  color: #656D85;
}
